---
import H1 from "../../components/H1.astro";
import TextLink from "../../components/TextLink.astro";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---

<DefaultLayout metaTitle="Tools">
  <H1>Tools</H1>
  <p class="pb-4">A collection of tools.</p>
  <ul class="list-disc pl-4">
    <li>
      🎥 <TextLink href="/tools/youtube-url-to-rss"
        >Youtube URL to RSS Feed</TextLink
      >
    </li>
  </ul>
</DefaultLayout>
