---
import H1 from "../../components/H1.astro";
import TextLink from "../../components/TextLink.astro";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---

<DefaultLayout metaTitle="YouTube URL to RSS Feed">
  <H1>YouTube URL to RSS Feed</H1>
  <p class="pb-4">Convert YouTube URLs into RSS feeds.</p>
  <input
    type=""
    name=""
    value=""
    class="border-2 border-500-blue rounded-lg p-2 outline-2 outline-emerald-500 w-full"
  />
</DefaultLayout>
