<!-- Include these scripts somewhere on the page: -->
<script defer src="https://unpkg.com/@alpinejs/ui@3.14.0-beta.0/dist/cdn.min.js"></script>
<script defer src="https://unpkg.com/@alpinejs/focus@3.14.0/dist/cdn.min.js"></script>
<script defer src="https://unpkg.com/alpinejs@3.14.0/dist/cdn.min.js"></script>

<section x-tabs:panel class="p-8">
    <slot />
</section>
