---
import H1 from "../../components/H1.astro";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---

<DefaultLayout metaTitle="Homelab">
  <H1>Homelab</H1>
  <p class="prose">
    🚧 This section is a work in progress. Please check back later
  </p>
</DefaultLayout>
