---
import BrutalCardTest from "../components/BrutalCardTest.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import NavBar from "../components/NavBar.astro";
import BrutalCard from "../components/BrutalCard.astro";
---

<div>
  <NavBar />
  <main class="pt-24">
    <BrutalCardTest color="red" />
    <div>
      <div>Hello world</div>
      <div>Hello world</div>
      <div>Hello world</div>
    </div>
  </main>
</div>
