---
const { class: className = "bg-yellow-400", ...rest } = Astro.props;
---

<span class:list={["brutal-pill", className]} {...rest}>
  <slot />
</span>

<style>
  span.brutal-pill {
    filter: drop-shadow(3px 3px 0 rgb(0 0 0 / 1));
    user-select: none;
    border-radius: 9999px;
    border: 2px solid black;
    padding: 0.25rem 0.75rem;
    transition: all;
    transition-duration: 0.5s;
    animation: ease-in-out;
    font-size: small;
  }

  span.brutal-pill:hover {
    filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
  }
</style>
