---
// Based on https://github.com/ElianCodes/brutal-ui/blob/main/src/components/Card.astro
const { class: className = "bg-yellow-400", ...rest } = Astro.props;
---

  <div class:list={["brutal-card drop-shadow-2xl", className]} {...rest}>
    <slot />
  </div>

<style>
  div.brutal-card {
    border-radius: 0.5rem;
    border: 3px solid black;
    filter: drop-shadow(7px 7px 0 rgb(0 0 0 / 1));
    transition: all;
    padding: 1rem;
    transition-duration: 0.5s;
    animation: ease-in-out;
    z-index: -1;
    overflow-wrap: break-word; /* Ensures words break to prevent overflow */
    overflow: hidden; /* Hides any content that overflows the box */
  }
  div.brutal-card:hover {
    filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
  }
</style>
