<!-- Need to include x-data so that it knows it is alpine -->
<div x-data x-tabs>
  <div x-tabs:list class="-mb-px flex items-stretch">
    <slot name="tab-headers" />
  </div>
  <div x-tabs:panels class="rounded-b-md border border-gray-200 bg-white">
    <slot name="tab-content" />
  </div>
</div>
