---
import { Image } from 'astro:assets';
import H1 from "../../components/H1.astro";
import TextLink from "../../components/TextLink.astro";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import samAndRoo from './imgs/sam-and-roo.jpeg';
---

<DefaultLayout metaTitle="About">
  <H1>Links</H1>
  <p class="prose">🚧 Please come back later, this page is under construction.</p>
</DefaultLayout>
