---
import H1 from "../../components/H1.astro";
import NotionLinks from "../../components/NotionLinks.astro";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---

<DefaultLayout metaTitle="Links">
  <H1>Links</H1>
  <p class="pb-4 prose max-w-full">
    A colleciton of links I have collected from around the web. Mostly from
    hackernews and the Changelog Podcast.
  </p>
  <NotionLinks />
</DefaultLayout>
