---
import H1 from "../../components/H1.astro";
import NotionLinks from "../../components/NotionLinks.astro";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---

<DefaultLayout metaTitle="Links">
  <H1>Links</H1>
  <p class="prose">🚧 Please come back later, this page is under construction.</p>
  <NotionLinks />
</DefaultLayout>
