---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import H1 from "../../components/H1.astro";

export const prerender = false;
---

<DefaultLayout metaTitle="Links">
  <H1>Links</H1>
  <p class="pb-4 prose max-w-full">
    A collection of links from around the web. Mostly from
    <a
      href="https://news.ycombinator.com/"
      target="_blank"
      class="after:content-['_↗']"
      >Hacker News</a
    > and the <a
      href="https://changelog.com/"
      target="_blank"
      class="after:content-['_↗']"
      >Changelog Podcast</a
    >.
  </p>
  <!-- <NotionLinksPagination /> -->
  <div>
    <!-- TODO: add tag filter, date filter, and search -->
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
      id="notion-links-grid"
    >
    <div hx-get="/links/partials/grid" hx-swap="outerHTML" hx-trigger="load"></div>
    </div>
  </div>
</DefaultLayout>
