---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
const { metaTitle = "samedwardes.com", contentMaxWidth = "max-w-4xl" } =
  Astro.props;
import "../styles/base.css";
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{metaTitle} - samedwardes.com</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="samedwardes.com Blog"
      href="/rss.xml"
    />
    <link
      rel="preload"
      href="/fonts/Atkinson-Hyperlegible-Regular-102.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Atkinson-Hyperlegible-Bold-102.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <!-- Bundle Alpine (core + focus + ui) and HTMX as same-origin assets -->
    <script>
      import Alpine from "alpinejs";
      import focus from "@alpinejs/focus";
      import ui from "@alpinejs/ui";
      import htmx from "htmx.org";

      window.htmx = htmx;
      Alpine.plugin(focus);
      Alpine.plugin(ui);
      window.Alpine = Alpine;
      Alpine.start();
    </script>
    <!--Umami for analytics-->
    <script
      is:inline
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="5bec7599-5d83-417c-9ad1-78ac26668716"></script>
  </head>
  <body class="h-full">
    <NavBar />
    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-4 pt-8">
      <div class:list={["container mx-auto", contentMaxWidth]}>
        <slot />
        <!-- your content is injected here -->
      </div>
    </main>
    <Footer />
  </body>
</html>
