---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
const { metaTitle = "samedwardes.com", contentMaxWidth = "max-w-4xl" } =
  Astro.props;
import "../styles/base.css";
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{metaTitle} - samedwardes.com</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="samedwardes.com Blog"
      href="/rss.xml"
    />
    <!-- Add the pro alpine JS stuff -->
    <script
      is:inline
      defer
      src="https://unpkg.com/@alpinejs/ui@3.14.1-beta.0/dist/cdn.min.js"
    ></script>
    <script
      is:inline
      defer
      src="https://unpkg.com/@alpinejs/focus@3.14.1/dist/cdn.min.js"></script>
    <script
      is:inline
      defer
      src="https://unpkg.com/alpinejs@3.14.1/dist/cdn.min.js"></script>
    <!-- Add HTMX -->
    <script
      is:inline
      src="https://unpkg.com/htmx.org@2.0.1"
      integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
      crossorigin="anonymous"></script>
  </head>
  <body class="h-full">
    <NavBar />
    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-4 pt-32">
      <div class:list={["container mx-auto", contentMaxWidth]}>
        <slot />
        <!-- your content is injected here -->
      </div>
    </main>
    <Footer />
  </body>
</html>
